.Navbar{
    height:100%;
}
.Navbar a{
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    margin: 5px 15px 5px 10px;

}

.Navbar a .active{
    background-color: aqua;
}

.Navbar a:hover{
    background-color: cadetblue;
}
